.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 102;
    text-align: center;
    cursor: pointer;
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-light
    );
    z-index: 100;
    transition: transform 0.8s;

    // transform: scale(60);
  }
  &__nav {
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
    transition: all 0.8s;
    // for disappring from main page
    opacity: 0;
    width: 0;
  }
  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  &__item {
    margin: 1.5rem;
  }
  &__link {
    &:link,
    &:visited {
      font-size: 3rem;
      font-weight: 300;
      color: white;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 50%, white 50%);
      background-size: 220%;
      transition: all 0.5s;
      display: inline-block;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }
  //   icon
  &__icon {
    position: relative;
    margin-top: 3.3rem;
    &,
    &::after,
    &::before {
      width: 3rem;
      height: 2px;
      background-color: $color-gray;
      display: inline-block;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -1rem;
    }
    &::after {
      top: 1rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1.2rem;
  }
  &__button:hover &__icon::after {
    top: 1.2rem;
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0.3rem;
  }
  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0.3rem;
  }
}
