.feature-box{
    text-align: center;
    background-color: rgba(white, .8);
    font-size: 1.5rem;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .15);
    transition: transform .2s;
    

    &__icon{
        
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;

    }
    &__text{
    
        padding-bottom:2rem;

    }
    &__heading{

    }

    &:hover{
        transform: translateY(-5px) scale(1.03);
    }
}